<div class="col-12">
  <h2 class="m-4 text-muted">
    Home / <span class="text-dark"> Online Fashion Store / Kids</span>
  </h2>
  <p class="m-4 text-dark">
    Online Fashion Store -<span class="text-muted">
      {{ kidsProducts.length }} item
    </span>
  </p>
</div>
<div class="card-container">
  <div
    class="card m-4 mt-3 mb-5"
    *ngFor="let kids of kidsProducts; trackBy: trackByFn"
  >
    <figure>
      <section class="slider_container">
        <section class="slider">
          <div class="slide one">
            <img
              [src]="kids.image1"
              alt="t-shirt"
              routerLink="/product/{{ kids.id }}"
            />
          </div>
          <div class="slide two">
            <img
              [src]="kids.image2"
              alt="t-shirt"
              routerLink="/product/{{ kids.id }}"
            />
          </div>
          <div class="slide three">
            <img
              [src]="kids.image3"
              alt="t-shirt"
              routerLink="/product/{{ kids.id }}"
            />
          </div>
          <div class="slide four">
            <img
              [src]="kids.image4"
              alt="t-shirt"
              routerLink="/product/{{ kids.id }}"
            />
          </div>
        </section>
      </section>
    </figure>
    <section class="details">
      <p class="price">
        <strong> {{ kids.brandName }}</strong>
      </p>
      <p class="price text-muted">{{ kids.name }}</p>
      <p class="price">
        <strong>Rs. {{ kids.offerprice }} </strong>
        <span style="text-decoration: line-through">Rs. {{ kids.price }} </span>
      </p>
      <div class="wishlist-container">
        <button class="btn mb-1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-heart"
            viewBox="0 0 16 16"
          >
            <path
              d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"
            />
          </svg>
          WISHLIST
        </button>
      </div>
    </section>
  </div>
</div>
