<div [ngSwitch]="true">
  <ng-container *ngSwitchDefault>
    <div *ngIf="!user">
      <div class="bg-container">
        <div class="items-container">
          <p class="login">
            <strong>PLEASE LOGIN IN</strong>
          </p>
          <p class="text-muted login-text">
            Login to view items in your wishlist
          </p>
          <img
            src="https://img.freepik.com/premium-vector/boy-doing-online-shopping-mobile_118167-6942.jpg?size=626&ext=jpg&ga=GA1.1.1587978027.1694689858&semt=ais"
            alt="wishlist"
            class="wishlist-image"
          />
          <button class="login-btn" routerLink="/signin">LOGIN</button>
        </div>
      </div>
    </div>

    <div *ngIf="wishListItems.length == 0 && user">
      <div class="bg-container">
        <div class="items-container">
          <p class="login">
            <strong>YOUR WISHLIST IS EMPTY</strong>
          </p>
          <p class="text-muted login-text text-start">
            Add items that you like to your wishlist.Review
            <br />
            them anytime and easily move them to the bag.
          </p>
          <img
            src="https://img.freepik.com/premium-vector/boy-doing-online-shopping-mobile_118167-6942.jpg?size=626&ext=jpg&ga=GA1.1.1587978027.1694689858&semt=ais"
            alt="wishlist"
            class="wishlist-image"
          />
          <button
            class="mt-4 login-btn"
            style="width: 200px"
            routerLink="/home"
          >
            CONTINUE SHOPPING
          </button>
        </div>
      </div>
    </div>
  </ng-container>
  <div class="product-container">
    <div class="col-12" *ngIf="wishListItems.length > 0 && user">
      <h3 class="wishlist-heading">
        <strong> My Wishlist</strong>
        <span> {{ wishListItems.length }} items</span>
      </h3>
    </div>
    <ng-container *ngIf="wishListItems.length > 0 && user">
      <div
        class="product-card"
        *ngFor="let item of wishListItems | search : searchtext"
      >
        <img
          [src]="item.product.image2"
          alt="product"
          width="100%"
          class="product-img"
          routerLink="/product/{{ item.product.id }}"
        />
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="grey"
          class="bi bi-x-circle-fill remove-icon"
          viewBox="0 0 16 16"
          (click)="deleteWishListItem(item.id)"
          (click)="openRemoveItemSnackbar(item)"
        >
          <path
            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"
          />
        </svg>
        <p class="text-center">
          {{ item.product.brandName }} {{ item.product.categoryName }} Regular
        </p>
        <p class="text-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-currency-rupee"
            viewBox="0 0 16 16"
          >
            <path
              d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4v1.06Z"
            />
          </svg>
          {{ item.product.offerprice }}
          <span
            class="text-muted"
            style="text-decoration: line-through; font-size: small"
          >
            {{ item.product.price }}
          </span>
        </p>
        <hr class="w-100" />
        <div class="d-flex flex-row justify-content-center">
          <button
            class="bag-btn"
            color="primary"
            mat-button
            (click)="openBagDialog(item, '0ms', '0ms')"
          >
            MOVE TO BAG
          </button>
        </div>
      </div>
    </ng-container>
  </div>
  <br />
  
</div>
