<section class="slider_container">
  <section class="slider">
    <div class="slide one">
      <img
        src="https://assets.ajio.com/cms/AJIO/WEB/D-1.0-UHP-11102023-uhphim-z13-p5-spykar-mufti-min50.jpg"
        alt="image1"
        style="cursor: pointer"
        routerLink="/home/men/products"
      />
    </div>
    <div class="slide two">
      <img
        src="https://assets.ajio.com/cms/AJIO/WEB/D-1.0-MHP-15102023-dailybanner-z5-p2-campus-ucb-min50.jpg"
        alt="image2"
        style="cursor: pointer"
        routerLink="/home/men/products"
      />
    </div>
    <div class="slide three">
      <img
        src="https://assets.ajio.com/cms/AJIO/WEB/D-1.0-MHP-15102023-dailybannermonitised-z5-p2-aldo-min40.jpg"
        alt="image3"
        style="cursor: pointer"
        routerLink="/home/men/products"
      />
    </div>
    <div class="slide four">
      <img
        src="https://assets.ajio.com/cms/AJIO/WEB/D-1.0-MHP-15102023-topbanner-z3-p3-adidas-nike-min35.jpg"
        alt="image4"
        style="cursor: pointer"
        routerLink="/home/men/products"
      />
    </div>
    <div class="slide five">
      <img
        src="https://assets.ajio.com/cms/AJIO/WEB/D-1.0-MHP-15102023-topbanner-z3-p5-lacoste-gant-upto50.jpg"
        alt="image5"
        style="cursor: pointer"
        routerLink="/home/men/products"
      />
    </div>
  </section>
</section>
<section class="slider_container1">
  <section class="slider1">
    <div class="slide one">
      <img
        src="https://assets.ajio.com/cms/AJIO/WEB/federal%20des.png"
        alt="image1"
      />
    </div>
    <div class="slide two">
      <img
        src="https://assets.ajio.com/cms/AJIO/WEB/Paytm-1440x128%202.jpg"
        alt="image2"
      />
    </div>
    <div class="slide three">
      <img
        src="https://assets.ajio.com/cms/AJIO/WEB/Fi%20Credit%20Cards-1440x128.jpg"
        alt="image3"
      />
    </div>
    <div class="slide four">
      <img
        src="https://assets.ajio.com/cms/AJIO/WEB/2192023-PLPStrip-RelianceOne-Points-1440x128.jpg"
        alt="image4"
      />
    </div>
    <div class="slide five">
      <img
        src="https://assets.ajio.com/cms/AJIO/WEB/IDFC-1440x128-1.jpg"
        alt="image5"
      />
    </div>
  </section>
</section>
<div>
  <div style="background: rgb(45, 35, 232); max-height: 450px">
    <div class="text-center">
      <br />
      <br />
      <h2
        style="
          font-size: 50px;
          font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
            Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
            sans-serif;
        "
      >
        <strong> BlockBuster Brands </strong>
      </h2>
    </div>
    <br />
    <br />
    <div class="product-container">
      <div class="product-card">
        <img
          src="https://assets.ajio.com/cms/AJIO/WEB/D-1.0-MHP-22092023-blockbusterbrands-z13-budajeans-upto50.jpg"
          alt="brands"
          class="product-img"
          style="cursor: pointer"
          routerLink="/home/men/products"
        />
      </div>
      <div class="product-card">
        <img
          src="https://assets.ajio.com/cms/AJIO/WEB/D-1.0-MHP-22092023-blockbusterbrands-z13-thebearhouse-min50.jpg"
          alt="brands"
          class="product-img"
          style="cursor: pointer"
          routerLink="/home/men/products"
        />
      </div>
      <div class="product-card">
        <img
          src="https://assets.ajio.com/cms/AJIO/WEB/D-1.0-MHP-22092023-blockbusterbrands-z13-linenclub-4055.jpg"
          alt="brands"
          class="product-img"
          style="cursor: pointer"
          routerLink="/home/men/products"
        />
      </div>
      <div class="product-card">
        <img
          src="https://assets.ajio.com/cms/AJIO/WEB/D-1.0-MHP-22092023-blockbusterbrands-z13-louisphilippe-min40.jpg"
          alt="brands"
          class="product-img"
          style="cursor: pointer"
          routerLink="/home/men/products"
        />
      </div>
      <div class="product-card">
        <img
          src="https://assets.ajio.com/cms/AJIO/WEB/D-1.0-MHP-22092023-blockbusterbrands-z13-spykar-flat60.jpg"
          alt="brands"
          class="product-img"
          style="cursor: pointer"
          routerLink="/home/men/products"
        />
      </div>
      <div class="product-card">
        <img
          src="https://assets.ajio.com/cms/AJIO/WEB/D-1.0-MHP-22092023-blockbusterbrands-z13-dennislingo-min65.jpg"
          alt="brands"
          class="product-img"
          style="cursor: pointer"
          routerLink="/home/men/products"
        />
      </div>
    </div>
  </div>
</div>
