

<!-- order page starts -->
<div *ngIf="orders">
<section class="vh-100 gradient-custom-2">
  
    <div class="container py-5 h-100">
      <h6 class="mb-0 text-muted text-center"> <a class="fw-bold text-muted" style="font-size: larger; margin-left: 15px;" >My Orders <span class="text-dark" > ({{orders.length}}) </span>  </a> </h6>
      <div class="row d-flex justify-content-center align-items-center h-100" >
        <div class="col-md-10 col-lg-8 col-xl-6"   >
          <div class="card card-stepper" style="border-radius: 16px;">
            <div class="card-header p-4"  *ngFor="let order of orders" >
              <div class="d-flex justify-content-between align-items-center" >
                  <p class="text-muted mb-2"> Order ID <span class="fw-bold text-dark"> {{order.id}} </span></p>
                  <p class="text-muted mb-0"> Placed On <span class="fw-bold text-dark" >{{order.orderedDate}}</span> </p>
               
                <div>
                </div>
              </div>
            </div>
            <div class="card-body p-4" >
              <div class="d-flex flex-row mb-4 pb-2"  *ngFor="let order of orders">
                <div class="flex-fill">
                  <h3 class="bold"> {{order.product.name}} </h3>
                  <h3 class="text-muted" > category : <span class="text-dark"> {{order.product.categoryName}} </span>  </h3>
                  <h3 class="text-muted" > Brand : <span class="text-dark"> {{order.product.brandName}}</span>   </h3>
                  <p class="text-muted" > size : <span class="text-dark" > {{order.size}} </span> </p>
                  <p class="text-muted"> Quantity: <span class="text-dark"> {{order.quantity}}</span>  </p>
                  <h4 class="mb-3 text-muted">Amount : {{order.product.offerprice}} <span class="small text-dark"> via ({{order.payment}}) </span></h4>
                  <h3 class="mb-3 text-muted"> status : <span class="text-dark" > {{order.status}} </span> </h3>
                  
                  <h2 style="font-family: 'Times New Roman', Times, serif; text-decoration: underline; " class="text-dark"> Delivering to Address  </h2>
                  <p class="text-muted" > Name:<span class="text-dark" > {{order.name}}</span>  </p>
                  <p class="text-muted"> Contact: <span class="text-body"> {{order.phone}} </span></p>
                  <p class="text-muted"> Shipping Address : <span class="text-body"> {{order.address}} </span> </p>
                  <hr/>
                </div>
               
                <div class="d-flex flex-column" >
                  <img class="align-self-center img-fluid"
                    [src]="order.product.image1" width="250">
                    <br>
                    <div>
                        <button class="btn btn-outline-danger button" (click)="deleteOrder(order.id)" > Delete order </button>
                    </div>
                   
                </div>
              </div>
             
            </div>
            <div class="card-footer p-4" >
              <div class="d-flex justify-content-between">
                <button class="btn btn-outline-dark" routerLink="/home" >Go back</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>

</div>
<div *ngIf="!orders">
  <div class="d-flex flex-row justify-content-center">
      <div class="d-flex flex-column justify-content-center" >
          <h3 class="pt-2 pt-3 heading">
              Not, Yet ordered...!
          </h3>
          <button class="btn btn-outline-warning mt-3" routerLink="/home" >
              place order
          </button>
      </div>
      </div>
      
      <div class="d-flex flex-row justify-content-center">
      <img src="https://img.freepik.com/premium-vector/boy-doing-online-shopping-mobile_118167-6942.jpg?size=626&ext=jpg&ga=GA1.1.1587978027.1694689858&semt=ais"
            class="img"  
      />
    </div>
</div>


    