<section class="slider_container">
  <section class="slider">
    <div class="slide one">
      <img
        src="https://assets.ajio.com/cms/AJIO/WEB/D-1.0-KHP-131023-topbanner-Z3-3-KGfrendz%20INFfrendz%20more-under599.jpg"
        alt="image1"
        routerLink="/home/kids/products"
        style="cursor: pointer"
      />
    </div>
    <div class="slide two">
      <img
        src="https://assets.ajio.com/cms/AJIO/WEB/D-1.0-KHP-151023-dailybanner-Z4-2-indinaterrainboy%20gini%20jony%20more-under399.jpg"
        alt="image2"
        routerLink="/home/kids/products"
        style="cursor: pointer"
      />
    </div>
    <div class="slide three">
      <img
        src="https://assets.ajio.com/cms/AJIO/WEB/D-1.0-KHP-151023-dailybanner-Z4-1-mothercare%20hamleys-min40.jpg"
        alt="image3"
        routerLink="/home/kids/products"
        style="cursor: pointer"
      />
    </div>
    <div class="slide four">
      <img
        src="https://assets.ajio.com/cms/AJIO/WEB/D-1.0-KHP-131023-topbanner-Z3-5-GAP%20M%20S%20more-upto50.jpg"
        alt="image4"
        routerLink="/home/kids/products"
        style="cursor: pointer"
      />
    </div>
    <div class="slide five">
      <img
        src="https://assets.ajio.com/cms/AJIO/WEB/D-1.0-KHP-151023-dailybannermonitised-Z6-2-Trampoline-upto80.jpg"
        alt="image5"
        routerLink="/home/kids/products"
        style="cursor: pointer"
      />
    </div>
  </section>
</section>
<section class="slider_container1">
  <section class="slider1">
    <div class="slide one">
      <img
        src="https://assets.ajio.com/cms/AJIO/WEB/21092023-mob-1440x128%202.jpg"
        alt="image1"
      />
    </div>
    <div class="slide two">
      <img
        src="https://assets.ajio.com/cms/AJIO/WEB/Paytm-1440x128%202.jpg"
        alt="image2"
      />
    </div>
    <div class="slide three">
      <img
        src="https://assets.ajio.com/cms/AJIO/WEB/Fi%20Credit%20Cards-1440x128.jpg"
        alt="image3"
      />
    </div>
    <div class="slide four">
      <img
        src="https://assets.ajio.com/cms/AJIO/WEB/2192023-PLPStrip-RelianceOne-Points-1440x128.jpg"
        alt="image4"
      />
    </div>
    <div class="slide five">
      <img
        src="https://assets.ajio.com/cms/AJIO/WEB/IDFC-1440x128-1.jpg"
        alt="image5"
      />
    </div>
  </section>
</section>
<div>
  <div style="background: rgb(36, 27, 210); max-height: 880px">
    <div class="text-center">
      <br />
      <h2
        style="
          font-size: 50px;
          font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
            Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
            sans-serif;
        "
      >
        <strong> ROCK WITH THESE BRANDS </strong>
      </h2>
      <br />
      <img
        src="https://assets.ajio.com/cms/AJIO/WEB/D-1.0-KHP-220923-rockwiththesebrands-Z6-2-pepejeans-3070.jpg"
        alt="img"
        class="ad-img"
        routerLink="/home/kids/products"
        style="cursor: pointer;width: 100%;"
      />
    </div>
    <br />
    <br />
    <div class="product-container">
      <div class="product-card">
        <img
          src="https://assets.ajio.com/cms/AJIO/WEB/D-1.0-KHP-220923-rockwiththesebrands-Z7-3-zalio-upto70%20(1).jpg"
          alt="brands"
          class="product-img"
          routerLink="/home/kids/products"
          style="cursor: pointer"
        />
      </div>
      <div class="product-card">
        <img
          src="https://assets.ajio.com/cms/AJIO/WEB/D-1.0-KHP-220923-rockwiththesebrands-Z7-4-kuchipoo-min50.jpg"
          alt="brands"
          class="product-img"
          routerLink="/home/kids/products"
          style="cursor: pointer"
        />
      </div>
      <div class="product-card">
        <img
          src="https://assets.ajio.com/cms/AJIO/WEB/D-1.0-KHP-220923-rockwiththesebrands-Z7-5-lilpicks-min50.jpg"
          alt="brands"
          class="product-img"
          routerLink="/home/kids/products"
          style="cursor: pointer"
        />
      </div>
      <div class="product-card">
        <img
          src="https://assets.ajio.com/cms/AJIO/WEB/D-1.0-KHP-220923-rockwiththesebrands-Z7-6-hellcat-min80.jpg"
          alt="brands"
          class="product-img"
          routerLink="/home/kids/products"
          style="cursor: pointer"
        />
      </div>
      <div class="product-card">
        <img
          src="https://assets.ajio.com/cms/AJIO/WEB/D-1.0-KHP-220923-rockwiththesebrands-Z7-6-GAS-min50.jpg"
          alt="brands"
          class="product-img"
          routerLink="/home/kids/products"
          style="cursor: pointer"
        />
      </div>
      <div class="product-card">
        <img
          src="https://assets.ajio.com/cms/AJIO/WEB/D-1.0-KHP-220923-rockwiththesebrands-Z7-8-campus-upto50.jpg"
          alt="brands"
          class="product-img"
          routerLink="/home/kids/products"
          style="cursor: pointer"
        />
      </div>
    </div>
  </div>
</div>
