.top-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.quantity{
    margin-top: 1.5rem;
    margin-bottom: .7rem;
    text-align: center;
}
.list{
    margin-left: .5rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
}
.hr{
    width:75%;
    margin-left: 1.7rem;
}
.done-btn{
    margin-left: 1.6rem;
    margin-top: .5rem;
    margin-bottom: .9rem;
    width: 80%;
}