
<div>
    <div class="top-container">
        <div class="size-c">
            <p class="quantity " > <strong> Select Quantity</strong> </p>
            <hr class="hr" />
            <mat-chip-listbox class="list" >
                <mat-chip-option>1</mat-chip-option>
                <mat-chip-option>2</mat-chip-option>
                <mat-chip-option>3</mat-chip-option>
                <mat-chip-option>4</mat-chip-option>
                <mat-chip-option>5</mat-chip-option>
                <mat-chip-option>6</mat-chip-option>
                <mat-chip-option>7</mat-chip-option>
                <mat-chip-option>8</mat-chip-option>
                <mat-chip-option>9</mat-chip-option>
                <mat-chip-option>10</mat-chip-option>
            </mat-chip-listbox>
        </div>
    </div>
</div>
<button mat-raised-button color="primary" mat-button mat-dialog-close cdkFocusInitial class="done-btn" >DONE</button>