
<div *ngIf="cartItem">
    <div class="top-container">
        <div class="size-c">
            <p class="quantity "> <strong> Select Quantity</strong> </p>
            <hr class="hr" />
            <mat-chip-listbox class="list" [(ngModel)]="quantity" name="quantity" >
                <mat-chip-option value="1" >1</mat-chip-option>
                <mat-chip-option value="2">2</mat-chip-option>
                <mat-chip-option value="3">3</mat-chip-option>
                <mat-chip-option value="4">4</mat-chip-option>
                <mat-chip-option value="5">5</mat-chip-option>
                <mat-chip-option value="6">6</mat-chip-option>
                <mat-chip-option value="7">7</mat-chip-option>
                <mat-chip-option value="8">8</mat-chip-option>
                <mat-chip-option value="9">9</mat-chip-option>
               
            </mat-chip-listbox>
        </div>
    </div>
    <button mat-raised-button color="primary" mat-button mat-dialog-close cdkFocusInitial class="done-btn" (click)="updateQuantity(cartItem.id)"
     >DONE</button>
</div>
