

<div  *ngIf="WishListItem" >
    
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg del-icon" viewBox="0 0 16 16" (click)="onClick()" >
            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
          </svg>
    
   
    <div class="top-container" >
       
     <img [src]="WishListItem.product.image1" alt="cartItem" class="item-image"/>
     <div class="details-container"> 
        <p class="product text-muted" >  {{WishListItem.product.brandName}} {{WishListItem.product.categoryName}}  Regular </p>
        <p> 
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-rupee product" viewBox="0 0 16 16">
                <path d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4v1.06Z"/>
              </svg> <strong> {{WishListItem.product.offerprice}} <span class="text-muted" style="font-size: small;text-decoration: line-through;">  {{WishListItem.product.price}}  </span></strong>
        </p>
    </div>
    </div>
    <hr class="w-75" style="margin-left: 3rem;" />
    <p style="margin-left: 2.8rem;" > <strong> Select Size </strong> </p>
    <div class="btm-container">
        <mat-chip-listbox aria-label="Fish selection"  [(ngModel)]="size" name="size">
            <mat-chip-option value="S" >S</mat-chip-option>
            <mat-chip-option  value="M"  >M</mat-chip-option>
            <mat-chip-option  value="L"  >L</mat-chip-option>
            <mat-chip-option  value="XL">XL</mat-chip-option>
            <mat-chip-option  value="XXL"  >XXL</mat-chip-option>
            <mat-chip-option  value="XXXL" >XXXL</mat-chip-option>
        </mat-chip-listbox>
    </div>
    <p style="margin-left: 2.8rem; margin-top: .5rem;" > <strong> Select Quantity</strong> </p>
    <div class="btm-container">
        <mat-chip-listbox aria-label="Fish selection" [(ngModel)]="quantity" name="quantity" >
            <mat-chip-option value="1">1</mat-chip-option>
            <mat-chip-option value="2">2</mat-chip-option>
            <mat-chip-option value="3">3</mat-chip-option>
            <mat-chip-option value="4">4</mat-chip-option>
            <mat-chip-option value="5">5</mat-chip-option>
            <mat-chip-option value="6">6</mat-chip-option>
        </mat-chip-listbox>
    </div>
    
    <div class="btm-container">
        <button mat-raised-button color="primary" class="mt-3 w-75" (click)="addtoCart(WishListItem.product.id)" 
        (click)="openSnackbar(WishListItem)">

        DONE</button>
    </div>
    
  </div>