@import url('https://fonts.googleapis.com/css?family=Ubuntu');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    font-size: 1.2rem;
    text-transform: capitalize;
}

.card {
    position: relative;
    border-radius: 1px;
    box-shadow: 0 0px 0px rgba(0,0,0,0.3);
    height: 500px;
    overflow: hidden;
    width: 255px;
    border: transparent;
   
}
.card-container{
  flex-wrap: wrap;
  display: flex;
  justify-content: flex-start;
}

.card > figure {
    margin-top: -1.2rem;
    margin-left: -.6rem;
    max-width: 180px;
}

.card > figure > img {
    width:170px;
}

.details {
    background-color: #FFF;
    border-radius: 1px;
    position: absolute;
    top: 81%;
    width: 100%;
    transition: box-shadow .3s ease-in-out,
                top .3s ease-in-out;
}

.card:hover .details {
    box-shadow: 0 -5px 10px rgba(0,0,0,0.3);
    top: 71%;
    
}
.price{
  margin-left: .9rem;
}
.price:hover{
  margin-top: .1rem;
}
.wishlist-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.btn {
    background-color:transparent;
    border-radius: 1px;
    color: black;
    display: block;
    padding: 10px;
    border: black solid;
    border-width: 2px;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    width: 90%;
    transition: box-shadow .3s ease-in-out,
                transform .3s ease-in-out;
}

.btn:hover {
  box-shadow: 0 5px 10px rgba(0,0,0,.3);
  transform: translateY(-2px);
}
.slider_container {
    position: relative;
    width: 100%;
    min-width: 50rem;
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: .1rem;
    
}
  
.slider {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    animation-play-state: paused;
}
.slider:hover{
    cursor: pointer;
    animation: 10s cubic-bezier(1, 0.95, 0.565, 1) sliding infinite;
}
.slide {
    position: relative;
    min-width: 100%;
    height: 100%;
}
  
.slide img {
    width: 35%;
    height: 80%;
}
  
@keyframes sliding {
    0% {
      transform: translateX(0%);
    }
    20% {
      transform: translateX(0%);
    }
    25% {
      transform: translateX(-100%);
    }
    45% {
      transform: translateX(-100%);
    }
    50% {
      transform: translateX(-200%);
    }
    70% {
      transform: translateX(-200%);
    }
    75% {
      transform: translateX(-300%);
    }
    95% {
      transform: translateX(-300%);
    }
    100% {
      transform: translateX(-400%);
    }
  }

  
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.search-hero {
    max-width: 500px;
    padding-bottom: 50px;
    margin:auto;
  }
  
  .form-control {
    margin-top: .8rem;
    margin-left: .3rem;
  }
  .form-control::placeholder  {
    font-family: FontAwesome;
  }

  input.form-control {
    border: 1px solid #ffffff;
    width: 100%;
    padding: 9px 4px 5px 40px;
     background: #fff url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
  }
.side-nav{
  
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
body {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(29, 29, 29);
}


.profile{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.tool{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 15px;

}
.profile:hover{
  
}

.menu-spacer{
    flex: 1 1 auto;
}

.nav{
  position: sticky;
  top: 0;
  z-index: 10;
  height: 70px;
}

.products{
    color:  #d0b200;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.search{
    border-radius: 40px;
    width: 70%;
}
.search-btn{
    border-radius: 40px;
}

.proma-img {
    width: 70px;
    height: 45px;
    border-radius: 10px;
}
.icon{
  background: rgb(207, 35, 35);
}
.btn1{
  background-color:gray;
  border-radius: 1px;
  color:white;
  display: block;
  padding: 10px;
  border: transparent;
  border-width: 2px;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  width: 90%;
  
}

/* footer sectiom*/

.bg-container1 {
    background-color: #19232d;
    background-size: cover;
    width: 100%;
}

.image {
    height: 40px;
    width: 60px;
    border-radius:20px ;
}

.icons-background {
    height: 47px;
    width: 47px;
    background-color: #202b36;
    padding-top: 12px;
    border-radius: 50%;
    margin: 5px;
}

.icon {
    color: #5a7184;
    font-size: 18px;
}

.address {
    font-family: "Roboto";
    font-size: 17px;
    font-weight: 500;
    color: #5a7184;
}

.heading {
    font-family: "Roboto";
    font-size: 20px;
    font-weight: bold;
    color: #5a7184;
    margin-bottom: 15px;
}

.unordered-list {
    list-style-type: none;
    padding-left: 0px;
}

.mail {
    font-family: "Roboto";
    font-size: 17px;
    font-weight: 500;
    color: #5a7184;
    margin-left: 10px;
}

.line {
    border-style: solid;
    border-width: 1px;
    border-color: #5a7184;
    margin-bottom: 15px;
}

.bootstrap1 {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 600;
    color: #959ead;
}

.product-card {
    padding: 0;
    margin: 0;
    width: 260px;
    height: 450px;
     
    box-shadow: 0px 0px 0px ;
    .product-img {
      width: 100%;
      height: 44vh;
    }
    
  }  
  .product-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
  }

@media  (max-width:730px) {

.slider_container {
  position: relative;
  width: 100%;
  min-width: 40rem;
  height: 26rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  
}

.slider {
  position: relative;
  width: 100vw;
  height: 60vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  animation: 20s cubic-bezier(1, 0.95, 0.565, 1) sliding infinite;
}
.slider1 {
  position: relative;
  width: 100vw;
  height: 170px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  animation: 24s cubic-bezier(1, 0.95, 0.565, 1) sliding infinite;
}
.slider_container1 {
  position: relative;
  width: 100%;
  min-width: 40rem;
  height: 16rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
 
}
.men{
  display: none;
}
.proma-img{
  margin-top: .6rem;
}

}
