@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.search-hero {
    max-width: 500px;
    padding-bottom: 50px;
    margin:auto;
  }
  
  .form-control {
    margin-top: .8rem;
    margin-left: .3rem;
  }
  .form-control::placeholder  {
    font-family: FontAwesome;
  }

  input.form-control {
    border: 1px solid #ffffff;
    width: 100%;
    padding: 9px 4px 5px 40px;
     background: #fff url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
  }
.side-nav{
  
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
body {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(29, 29, 29);
}
.slider:hover{
  animation-play-state: paused;
  cursor: pointer;
}

.slider1:hover{
  animation-play-state: paused;
}
  
.slider_container {
    position: relative;
    width: 100%;
    min-width: 50rem;
    height: 30rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    margin-top: .1rem;
    
}
  
.slider {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    animation: 20s cubic-bezier(1, 0.95, 0.565, 1) sliding infinite;
}
  
.slide {
    position: relative;
    min-width: 100%;
    height: 100%;
}
  
  .slide img {
    width: 100%;
    height: 100%;
  }
  
  .slide .caption {
    position: absolute;
    left: 0;
    bottom: 5%;
    font-size: 5rem;
    font-weight: 600;
    color: white;
    text-transform: capitalize;
    background: rgba(0, 0, 0, 0.348);
    backdrop-filter: blur(10px);
    padding: 1rem 5rem;
    border-radius: 0 2rem 2rem 0;
  }
  
  .slide.one {
    background: rgb(182, 19, 109);
  }
  .slide.two {
    background: rgb(255, 64, 64);
  }
  .slide.three {
    background: rgb(11, 173, 188);
  }
  .slide.four {
    background: rgb(11, 188, 14);
  }
  .slide.five {
    background: rgb(173, 11, 188);
  }
  
  @keyframes sliding {
    0% {
      transform: translateX(0%);
    }
    20% {
      transform: translateX(0%);
    }
    25% {
      transform: translateX(-100%);
    }
    45% {
      transform: translateX(-100%);
    }
    50% {
      transform: translateX(-200%);
    }
    70% {
      transform: translateX(-200%);
    }
    75% {
      transform: translateX(-300%);
    }
    95% {
      transform: translateX(-300%);
    }
    100% {
      transform: translateX(-400%);
    }
  }
/* offers-images sliding*/
.slider_container1 {
    position: relative;
    width: 100%;
    min-width: 50rem;
    height: 14rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    margin-top: .2rem;
    margin-bottom: .1rem;
}
.slider1 {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    animation: 24s cubic-bezier(1, 0.95, 0.565, 1) sliding infinite;
}
.slide1 img {
    width: 100%;
    height: 100%;
  }
  
  .slide1 .caption {
    position: absolute;
    left: 0;
    bottom: 5%;
    font-size: 5rem;
    font-weight: 600;
    color: white;
    text-transform: capitalize;
    background: rgba(0, 0, 0, 0.348);
    backdrop-filter: blur(10px);
    padding: 1rem 5rem;
    border-radius: 0 2rem 2rem 0;
  }



.menu-spacer{
    flex: 1 1 auto;
}

.nav{
  position: sticky;
  top: 0;
  z-index: 10;
  height: 70px;
}

.products{
    color:  #d0b200;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.search{
    border-radius: 40px;
    width: 70%;
}
.search-btn{
    border-radius: 40px;
}

.proma-img {
    width: 70px;
    height: 45px;
    border-radius: 10px;
}

#navItem1 {
    color: #323f4b;
    font-family: "Roboto";
}


.banner-section-bg-container {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/foodmunch-banner-bg.png");
    height: 100vh;
    background-size: cover;
}

.banner-heading {
    color: white;
    font-family: "Roboto";
    font-size: 45px;
    font-weight: 300;
}

.banner-caption {
    color: #f5f7fa;
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 300;
}

.custom-button {
    color: white;
    background-color: #d0b200;
    width: 130px;
    height: 45px;
    border-width: 0;
    border-radius: 8px;
    margin-right: 10px;
}

.custom-outline-button {
    color: #d0b200;
    background-color: transparent;
    width: 130px;
    height: 45px;
    border-style: solid;
    border-width: 1px;
    border-color: #d0b200;
    border-radius: 8px;
}

.explore-menu-section {
    background-color: white;
}

.menu-section-heading {
    color: #183b56;
    font-family: "serif";
    font-size: 28px;
    font-weight: 700;
}

.menu-item-image {
    border-radius: 16px;
    height: 50vh;
}

.menu-card-title {
    color: #323f4b;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 500;
    margin-top: 24px;
}

.menu-item-link {
    color: #d0b200;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 500;
}

.menu-item-card {
    border-radius: 3px;
}

.icon {
    color: #d0b200;
    font-size: 35px;
}
/* footer sectiom*/


.bg-container1 {
    background-color: #19232d;
    background-size: cover;
    width: 100%;
}

.image {
    height: 40px;
    width: 60px;
    border-radius:20px ;
}

.icons-background {
    height: 47px;
    width: 47px;
    background-color: #202b36;
    padding-top: 12px;
    border-radius: 50%;
    margin: 5px;
}

.icon {
    color: #5a7184;
    font-size: 18px;
}

.address {
    font-family: "Roboto";
    font-size: 17px;
    font-weight: 500;
    color: #5a7184;
}

.heading {
    font-family: "Roboto";
    font-size: 20px;
    font-weight: bold;
    color: #5a7184;
    margin-bottom: 15px;
}

.unordered-list {
    list-style-type: none;
    padding-left: 0px;
}

.mail {
    font-family: "Roboto";
    font-size: 17px;
    font-weight: 500;
    color: #5a7184;
    margin-left: 10px;
}

.line {
    border-style: solid;
    border-width: 1px;
    border-color: #5a7184;
    margin-bottom: 15px;
}

.bootstrap1 {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 600;
    color: #959ead;
}
@media  (max-width:730px) {

.slider_container {
  position: relative;
  width: 100%;
  min-width: 40rem;
  height: 26rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  
}

.slider {
  position: relative;
  width: 100vw;
  height: 60vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  animation: 20s cubic-bezier(1, 0.95, 0.565, 1) sliding infinite;
}
.slider1 {
  position: relative;
  width: 100vw;
  height: 170px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  animation: 24s cubic-bezier(1, 0.95, 0.565, 1) sliding infinite;
}
.slider_container1 {
  position: relative;
  width: 100%;
  min-width: 40rem;
  height: 16rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
 
}
.men{
  display: none;
}
.proma-img{
  margin-top: .6rem;
}

}