<section class="slider_container">
  <section class="slider">
    <div class="slide one">
      <img
        src="https://assets.ajio.com/cms/AJIO/WEB/D-1.0-MHP-15102023-dailybanner-z5-p6-assembly-delseyparis-upto70.jpg"
        alt="image1"
        routerLink="/home/men"
      />
    </div>
    <div class="slide two">
      <img
        src="https://assets.ajio.com/cms/AJIO/WEB/D-1.0-UHP-11102023-uhphim-z13-p1-USPA-spykar-min55.jpg"
        alt="image2"
        routerLink="/home/men"
      />
    </div>
    <div class="slide three">
      <img
        src="https://assets.ajio.com/cms/AJIO/WEB/D-1.0-UHP-11102023-JIT-3-Z13-Dillinger-Thebearhouse-Min60.jpg"
        alt="image3"
        routerLink="/home/men"
      />
    </div>
    <div class="slide four">
      <img
        src="https://assets.ajio.com/cms/AJIO/WEB/D-1.0-UHP-11102023-MainBannerDailyChanging-Z1-P4-CrocsAdidasOriginals-min35.jpg"
        alt="image4"
        routerLink="/home/men"
      />
    </div>
    <div class="slide five">
      <img
        src="https://assets.ajio.com/cms/AJIO/WEB/D-1.0-UHP-11102023-uhphim-z13-p3-uspa-americaneagle-upto50.jpg"
        alt="image5"
        routerLink="/home/men"
      />
    </div>
  </section>
</section>
<section class="slider_container1">
  <section class="slider1">
    <div class="slide one">
      <img
        src="https://assets.ajio.com/cms/AJIO/WEB/Paytm-1440x128%202.jpg"
        alt="image1"
      />
    </div>
    <div class="slide two">
      <img
        src="https://assets.ajio.com/cms/AJIO/WEB/federal%20des.png"
        alt="image2"
      />
    </div>
    <div class="slide three">
      <img
        src="https://assets.ajio.com/cms/AJIO/WEB/IDFC-1440x128-1.jpg"
        alt="image3"
      />
    </div>
    <div class="slide four">
      <img
        src="https://assets.ajio.com/cms/AJIO/WEB/Fi%20Credit%20Cards-1440x128.jpg"
        alt="image4"
      />
    </div>
    <div class="slide five">
      <img
        src="https://assets.ajio.com/cms/AJIO/WEB/2192023-PLPStrip-RelianceOne-Points-1440x128.jpg"
        alt="image4"
      />
    </div>
  </section>
</section>
<section class="slider_container">
  <section class="slider">
    <div class="slide one">
      <img
        src="https://assets.ajio.com/cms/AJIO/WEB/D-1.0-UHP-111023-UHPHER-Z14-3-STYLI-USPA-MIN60.jpg"
        alt="image1"
        routerLink="/home/women"
      />
    </div>
    <div class="slide two">
      <img
        src="https://assets.ajio.com/cms/AJIO/WEB/D-1.0-WHP-111023-TOPBANNER-BU-Z4-3-HARPA-ALSACE-FLAT55.jpg"
        alt="image2"
        routerLink="/home/women"
      />
    </div>
    <div class="slide three">
      <img
        src="https://assets.ajio.com/cms/AJIO/WEB/D-1.0-UHP-111023-UHPHER-Z14-5-PUMA-CAMPUS-FLAT50.jpg"
        alt="image3"
        routerLink="/home/women"
      />
    </div>
    <div class="slide four">
      <img
        src="https://assets.ajio.com/cms/AJIO/WEB/D-1.0-WHP-111023-TOPBANNER-BU-Z4-5-STEVEMADDEN-ALDO-UPTO60.jpg"
        alt="image4"
        routerLink="/home/women"
      />
    </div>
    <div class="slide five">
      <img
        src="https://assets.ajio.com/cms/AJIO/WEB/D-1.0-UHP-11102023-uhphim-z13-p3-uspa-americaneagle-upto50.jpg"
        alt="image5"
        routerLink="/home/women"
      />
    </div>
  </section>
</section>
<section class="slider_container">
  <section class="slider">
    <div class="slide one">
      <img
        src="https://assets.ajio.com/cms/AJIO/WEB/D-1.0-KHP-141023-dailybanner-Z4-5-spunkies%20lofn%20more-upto75.jpg"
        alt="image1"
        routerLink="/home/kids"
      />
    </div>
    <div class="slide two">
      <img
        src="https://assets.ajio.com/cms/AJIO/WEB/D-1.0-KHP-141023-topbannermonitised-Z4-1-miniklub-min60.jpg"
        alt="image2"
        routerLink="/home/kids"
      />
    </div>
    <div class="slide three">
      <img
        src="https://assets.ajio.com/cms/AJIO/WEB/D-1.0-KHP-141023-dailybanner-Z4-4-indinaterrainboy%20gini%20jony%20more-under399.jpg"
        alt="image3"
        routerLink="/home/kids"
      />
    </div>
    <div class="slide four">
      <img
        src="https://assets.ajio.com/cms/AJIO/WEB/D-1.0-KHP-141023-dailybanner-Z4-1-globaldesi%20and%20more-min50.jpg"
        alt="image4"
        routerLink="/home/kids"
      />
    </div>
    <div class="slide five">
      <img
        src="https://assets.ajio.com/cms/AJIO/WEB/D-1.0-KHP-141023-dailybanner-Z4-2-JBNcreation%20muhuratam%20more-min55.jpg"
        alt="image5"
        routerLink="/home/kids"
      />
    </div>
  </section>
</section>
