<section class="slider_container">
  <section class="slider">
    <div class="slide one">
      <img
        src="https://assets.ajio.com/cms/AJIO/WEB/D-1.0-WHP-151023-TOPBANNER-Z4-2-BAGATT-UPTO30.jpg"
        alt="image1"
        routerLink="/home/women/products"
        style="cursor: pointer"
      />
    </div>
    <div class="slide two">
      <img
        src="https://assets.ajio.com/cms/AJIO/WEB/D-1.0-WHP-151023-TOPBANNER-Z4-3-RITUKUMAR-UPTO60.jpg"
        alt="image2"
        routerLink="/home/women/products"
        style="cursor: pointer"
      />
    </div>
    <div class="slide three">
      <img
        src="https://assets.ajio.com/cms/AJIO/WEB/D-1.0-WHP-151023-DAILYBANNER-Z6-2-ALDO-MIN40.jpg"
        alt="image3"
        routerLink="/home/women/products"
        style="cursor: pointer"
      />
    </div>
    <div class="slide four">
      <img
        src="https://assets.ajio.com/cms/AJIO/WEB/D-1.0-WHP-151023-DAILYBANNER-Z6-1-NEHAMTA-UPTO80.jpg"
        alt="image4"
        routerLink="/home/women/products"
        style="cursor: pointer"
      />
    </div>
    <div class="slide five">
      <img
        src="https://assets.ajio.com/cms/AJIO/WEB/D-1.0-WHP-151023-DAILYBANNER-BU-Z6-5-WRANGLER-AMERICANEAGLE-MIN40.jpg"
        alt="image5"
        routerLink="/home/women/products"
        style="cursor: pointer"
      />
    </div>
  </section>
</section>
<section class="slider_container1">
  <section class="slider1">
    <div class="slide one">
      <img
        src="https://assets.ajio.com/cms/AJIO/WEB/federal%20des.png"
        alt="image1"
        style="cursor: pointer"
      />
    </div>
    <div class="slide two">
      <img
        src="https://assets.ajio.com/cms/AJIO/WEB/Paytm-1440x128%202.jpg"
        alt="image2"
        style="cursor: pointer"
      />
    </div>
    <div class="slide three">
      <img
        src="https://assets.ajio.com/cms/AJIO/WEB/Fi%20Credit%20Cards-1440x128.jpg"
        alt="image3"
        style="cursor: pointer"
      />
    </div>
    <div class="slide four">
      <img
        src="https://assets.ajio.com/cms/AJIO/WEB/2192023-PLPStrip-RelianceOne-Points-1440x128.jpg"
        alt="image4"
        style="cursor: pointer"
      />
    </div>
    <div class="slide five">
      <img
        src="https://assets.ajio.com/cms/AJIO/WEB/IDFC-1440x128-1.jpg"
        alt="image5"
        style="cursor: pointer"
      />
    </div>
  </section>
</section>
<div>
  <div style="background: rgb(36, 27, 210); max-height: 830px">
    <div class="text-center">
      <br />
      <h2
        style="
          font-size: 50px;
          font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
            Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
            sans-serif;
        "
      >
        <strong> Brands On the Rise </strong>
      </h2>
      <br />
      <img
        src="https://assets.ajio.com/cms/AJIO/WEB/D-1.0-WHP-220923-TOP%20BRANDS-Z7-1-GULMOHARJAIPUR-MIN55.jpg"
        alt="img"
        class="ad-img"
        style="cursor: pointer;width: 100%;"
        routerLink="/home/women/products"
      />
    </div>
    <br />
    <br />
    <div class="product-container">
      <div class="product-card">
        <img
          src="https://assets.ajio.com/cms/AJIO/WEB/D-1.0-WHP-220923-TOP%20BRANDS-Z7-12-DNMX-UPTO70.jpg"
          alt="brands"
          class="product-img"
          routerLink="/home/women/products"
        />
      </div>
      <div class="product-card">
        <img
          src="https://assets.ajio.com/cms/AJIO/WEB/D-1.0-WHP-220923-TOP%20BRANDS-Z7-8-FASHOR-MIN50.png"
          alt="brands"
          class="product-img"
          routerLink="/home/women/products"
        />
      </div>
      <div class="product-card">
        <img
          src="https://assets.ajio.com/cms/AJIO/WEB/D-1.0-WHP-220923-TOP%20BRANDS-Z7-3-RANGITA-MIN50.jpg"
          alt="brands"
          class="product-img"
          routerLink="/home/women/products"
        />
      </div>
      <div class="product-card">
        <img
          src="https://assets.ajio.com/cms/AJIO/WEB/D-1.0-WHP-220923-TOP%20BRANDS-Z7-10-RITUKUMAR-UPTO60.jpg"
          alt="brands"
          class="product-img"
          routerLink="/home/women/products"
        />
      </div>
      <div class="product-card">
        <img
          src="https://assets.ajio.com/cms/AJIO/WEB/D-1.0-WHP-220923-TOP%20BRANDS-Z7-5-AVAASA-STARTING199.jpg"
          alt="brands"
          class="product-img"
          routerLink="/home/women/products"
        />
      </div>
      <div class="product-card">
        <img
          src="https://assets.ajio.com/cms/AJIO/WEB/D-1.0-WHP-220923-TOP%20BRANDS-Z7-2-GAP-UPTO50.jpg"
          alt="brands"
          class="product-img"
          routerLink="/home/women/products"
        />
      </div>
    </div>
  </div>
</div>
